body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #ccc;
}

.night {
  color: #888;
  background-color: #282828;
}

.wrapper {
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#month {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  position: relative;
  border: 5px solid #000;
  margin: 0;
  padding: 15px;
  background-color: #fff;

  @media(min-width: 600px) {
    font-size: 4rem;
    padding: 30px 15px;
  }
}

.night {
  #month {
    background-color: #444;
  }
}

.arrow {
  line-height: 1;
  color: #000;
  text-decoration: none;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 100ms ease;

  &[data-dir="next"] {
    left: auto;
    right: 15px;
  }

  &:hover {
    color: #ccccff;
  }

  &:focus {
    color: #ccc;
  }
}

#calendar {
  background-color: #fff;
  border-left: 5px solid #000;
}

.hidden-vert {
  display: none;

  @media(min-width: 600px) {
    display: block;
  }
}

.row {
  @media(min-width: 600px) {
    border-bottom: 5px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &--title {
    display: none;
    
    @media(min-width: 600px) {
      display: flex;
    }
  }
}

.item {
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  position: relative;
  padding: 2rem 0;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  overflow: hidden;

  @media(min-width: 600px) {
    flex-grow: 1;
    flex-basis: 0;
    border-bottom: none;
  }

  @media(min-width: 600px) {
    font-size: 3rem;
    padding: 3rem 0;
  }

  &::after {
    content: '';
    font-size: 1rem;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    padding-top: 22px;
    border-right: 5px solid #000;
    background-color: #D6FFEB;

    @media(min-width: 600px) {
      display: none;
    }
  }

  &[data-dow="0"]::after {
    content: 'sun';
  }

  &[data-dow="1"]::after {
    content: 'mon';
  }

  &[data-dow="2"]::after {
    content: 'tues';
  }

  &[data-dow="3"]::after {
    content: 'wed';
  }

  &[data-dow="4"]::after {
    content: 'thurs';
  }

  &[data-dow="5"]::after {
    content: 'fri';
  }

  &[data-dow="6"]::after {
    content: 'sat';
  }
  
  &--title {
    font-size: .8rem;
    font-weight: 900;
    padding: 15px 0;
    background-color: #D6FFEB;

    @media(min-width: 820px) {
      font-size: 1rem;
    }

    .long {
      display: none;

      @media(min-width: 820px) {
        display: block;
      }
    }

    .short {
      @media(min-width: 820px) {
        display: none;
      }
    }
  }
  
  span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
    height: 100%;
    top: 0;
    left: 60px;

    @media(min-width: 600px) {
      width: 100%;
      left: 0;
    }
  }
  
  .bg {
    height: 0;
    background-color: #eee;
    
    &--past {
      height: 100%;
    }
    
    &--today {
      height: 80%;
      background-color: #ccccff;
    }
  }
}

.night {
  .item {
    background-color: #444;

    &--title,
    &::after {
      background-color: #00293D;
    }

    .bg {
      background-color: #282828;

      &--today {
        background-color: #3D001F;
      }
    }
  }
}

#show {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #D6FFEB;

  @media(min-width: 600px) {
    font-size: 4rem;
  }
}